.custom-button{
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  padding: 0.8rem 4.7rem;
  background: #424242;
  color: #A8A8A8;


}

.custom-button:hover {

  background: #000;
  transition: 0.3s;

}