
.result-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 300px;
    min-width: 300px;
    overflow-y: auto;
    
}

.result-wrapper{

    display: flex;
    
    

    img {
        max-width: 100px;
    }
    
}

.result-wrapper:hover {

    cursor: pointer;
    color: red;

}